{% extends "layout.html" %} 
{% block title %} 
Inicio 
{% endblock%} 
{% block main%}
<h2>Hello <span class='blue'>{{user.username}}</span>!</h2>
<h3 class="mb-3">Here is your todo list</h3>
<table id="myTodos" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Done</th>
      <th scope="col">todo</th>
      <th scope="col">Dead Line</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos%}
      <tr>
        <td>
          <input record-id="{{todo.id}}" type="checkbox" {% if todo.done %} checked{% endif %} />
        </td>
        <td {% if todo.done %}class="line-through"{% endif %}>{{todo.todo}}</td>
        <td class="align-middle">{% if todo.deadline %}{{todo.deadline}}{% else %}No deadline{% endif %}</td>
        <td class="align-middle">
          <form action="/todo/{{todo.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-link p-0 m-0 text-danger">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
