{% extends "layout.html.jinja2" %}
{% block title %}
Log In
{% endblock %}
{% block main %}
<form action="{% if register %}/auth/register{% else %}/auth/login{% endif %}" method="post">
    <div class="form-group">
        <input required autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password" required>
    </div>
    {% if  register %}
        <div class="form-group">
            <input required class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit"> {% if register %} Register {% else %} Log In {% endif %}</button>
</form>
{% endblock %}